body{
    background:url(https://thumbs.dreamstime.com/z/gynaecologist-woman-health-concept-stethoscope-feather-sanitary-pads-white-background-top-view-mock-up-female-medicine-150939355.jpg);
    color:purple
}

body {
    background-color:red;
}